config/jei/worldSettings.cfg
config/oauth.cfg
.ReAuth.cfg
.DS_Store
buildOut/

/mods

/saves

/screenshots

/logs

/resourcepacks

/journeymap

options.txt
crash-reports/

backups/

.curseclient

*.log

.mixin.out/

config/gregtech/terminal/ore_prospector